{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        {% include 'menu.html' %}
    </header>

    <section class="login-page">
      <h2>Zmień hasło</h2>
      <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
              <div class="form-group">
                {{ field }}
              </div>
          {% endfor %}

        <div class="form-group form-group--buttons">
          <a href="{% url 'profile_update' %}" class="btn btn--without-border">Powrót</a>
          <button class="btn" type="submit">Zmień hasło</button>
        </div>
      </form>
    </section>

    {% include 'footer.html' %}
{% endblock %}