{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="header--main-page">
        {% include 'menu.html' %}
        <div class="slogan container container--90">
            <div class="slogan--item">
              <h1>
                Zacznij pomagać!<br />
                Oddaj niechciane rzeczy w zaufane ręce
              </h1>
            </div>
        </div>
    </header>
    {% include 'stats.html' %}
    {% include 'steps.html' %}
    {% include 'about.html' %}
    {% include 'whom_help.html' %}
    {% include 'footer.html' %}

{% endblock %}